class CfgSkeletons
{
    class Default {
        isDiscrete = 1;
        skeletonInherit = "";
        skeletonBones[] = {};
    };
    class Bmaster2Skeleton: Default
    {
        skeletonBones[]=
        {
			"Magazine", "",
			"Bolt",	"",
			"rearsight", "",
			"frontsight", "",
			"Aperture", "frontsight",
			"Rear_adjust", "frontsight",
			"magrelease", "",
			"boltcatch", "",
			"Trigger",	"",
			"Selector","",
			"Break","",
			"zasleh",""
        };
    };
};

class CfgModels
{
    class Default {
        selections[] = {};
        selectionsInherit = "";
        skeletonName = "";
    };
    
    class Bmaster2M: Default
    {
        sections[]=
        {
            "zasleh","Magazine","Bolt","Trigger","Break","Main"
        };
        skeletonName="Bmaster2Skeleton";
		sectionsInherit="";
        class Animations
        {
            class muzzleflash_hide
            {
                type="hide";
                source="hasSuppressor";
                selection="zasleh";
                minValue = 0.0;
                maxvalue = 0.25;
                hideValue = 0.01;
            };
            class muzzlebreak_hide
            {
                type="hide";
                source="hasSuppressor";
                selection="Break";
                minValue = 0.0;
                maxvalue = 0.25;
                hideValue = 0.01;
            };
            class Aperture_knob_adjust
            {
                type = "rotation";
                source="zeroing1";
                selection="rear_adjust";
                axis = "apadjust_axis";
                minValue = 0.333;
                maxValue = 1; 
		angle1=rad 180;
                angle0=0;
            };

            class magazine_hide
            {
                type="hide";
                source="reloadMagazine";
                selection="Magazine";
                minValue=0.0;
                maxValue=1;
                hideValue=0.15;
                unhideValue=0.49;
            };
            class magazine_move1
            {
                type = "translation";
                source="reloadMagazine";
                selection="Magazine";
                axis = "Magazine_axis";
                minValue = 0.12;
                maxValue = 0.15; //0.09; //"1";
                offset0 = "0";
                offset1 = "1";
            };
            class magazine_move2
            {
                type = "translation";
                source="reloadMagazine";
                selection="Magazine";
                axis = "Magazine_axis";
                minValue = 0.51666;
                maxValue = 0.57; //0.09; //"1";
                offset0 = "0";
                offset1 = "-1";
            };
//All the angles in here are all Reyhard's work, I justtweaked them to an AR.
			#define Range_CH_100 minValue = 0.166-0.01;maxValue = 0.166*1;
			#define Range_CH_200 minValue = 0.166*2-0.01;maxValue = 0.166*2;
			#define Range_CH_300 minValue = 0.166*3-0.01;maxValue = 0.166*3;
			#define Range_CH_400 minValue = 0.166*4-0.01;maxValue = 0.166*4;
			#define Range_CH_500 minValue = 0.166*5-0.01;maxValue = 0.166*5;
			#define Range_CH_600 minValue = 0.166*6-0.01;maxValue = 0.166*6;
			class Range_100_move: magazine_move2
			{
				                source="zeroing1";
				type			= translation;
				selection		= "Aperture";
				axis = "Aperture_axis";
				Range_CH_100
				offset0 = 0.01;
				offset1 = -0.005;
			};
			class Range_200_move: Range_100_move
			{
				Range_CH_200
				offset1 = -0.025;
			};
			class Range_300_move: Range_200_move
			{
				Range_CH_300
				offset1 = -0.03;
			};
			class Range_400_move: Range_200_move
			{
				Range_CH_400
				offset1 = -0.06;	
			};
			class Range_500_move: Range_200_move
			{
				Range_CH_500
				offset1 = -0.025;
			};
			class Range_600_move: Range_400_move
			{
				Range_CH_600
				offset1 = -0.027;
			};

            class magrelease_move1
            {
                type = "translation";
                source="reloadMagazine";
                selection="Magrelease";
                axis = "Magrelease_axis";
                minValue = 0.1;
                maxValue = 0.11; //0.09; //"1";
                offset0 = "0";
                offset1 = "1";
            };
            class magrelease_move2
            {
                type = "translation";
                source="reloadMagazine";
                selection="Magrelease";
                axis = "Magrelease_axis";
                minValue = 0.15;
                maxValue = 0.17; //0.09; //"1";
                offset0 = "0";
                offset1 = "-1";
            };
                                     class bolt
            {
                type = "translation";
                source = "reload";
                selection = "Bolt";
                axis = "bolt_axis";
                begin = "bolt_axis_end";
                end = "bolt_axis_begin";
                minValue = 0;
                maxValue = 0.5; //0.09; //"1";
                offset0 = "0";
                offset1 = "1";
            };
           class bolt2
            {
                type = "translation";
                source = "reload";
                selection = "Bolt";
                axis = "bolt_axis";
                begin = "bolt_axis_end";
                end = "bolt_axis_begin";
                minValue = 0.5;
                maxValue = 1; //0.09; //"1";
                offset0 = "0";
                offset1 = "-1";
            };       
                                     class bolt_reload1
            {
                type = "translation";
                source = "reloadmagazine";
                selection = "Bolt";
                axis = "bolt_axis";
                begin = "bolt_axis_end";
                end = "bolt_axis_begin";
                minValue = 0;
                maxValue = 0.0001; //0.09; //"1";
                offset0 = "0";
                offset1 = "1";
            };
           class bolt2_reload
            {
                type = "translation";
                source = "reloadmagazine";
                selection = "Bolt";
                axis = "bolt_axis";
                begin = "bolt_axis_end";
                end = "bolt_axis_begin";
                minValue = 0.7333;
                maxValue = 0.75;
                offset0 = "0";
                offset1 = "-1";
            };       
            class bolt_empty
            {
                type="translationx";
	source = "isEmptyNoReload";
                selection="Bolt";
                axis="";
                animPeriod=0;
                minValue=0;
                maxValue=0.09; //10;
                offset0 = "0";
                offset1 = "1";
            };
     class boltlock_empty
            {
                type="rotation";
                source="isEmpty";
                selection="Boltcatch";
                axis="boltcatch_axis";
                animPeriod=0;
                minValue=0;
                maxValue=1; //10;
	angle1=rad 12;
                	angle0=0;
            };


	    class frontsight_hide
	    	{
                		type="hide";
		 source="hasOptics";
		 selection="frontsight";
		hideValue = 0.1;
		};
		class unloaded_magazine_hide {
		type = "hide";
		source = "hasMagazine";
		selection = "Magazine";
		hideValue = 0.1;
			};
            class FireModeSwitch {
                type="rotationZ";
                source="weaponMode";
                memory=1;
                selection="Selector";
                animPeriod=0;
                axis="Selector_axis";
                minValue=0.0;
                maxValue=0.1;
                minPhase=0.0;
                maxPhase=1.0;
                angle1=0;
                angle0=rad -90;
            };

class MuzzleFlashROT
 			{
 				type="rotationX";
 				source="ammoRandom";            //use ammo count as phase for animation
 				sourceAddress="loop";     //loop when phase out of bounds
 				selection="zasleh";       //selection we want to rotate
 				axis="barrelaxis";                  //no own axis - center of rotation is computed from selection
 				centerFirstVertex=true;   //use first vertex of selection as center of rotation
 				minValue=0;
 				maxValue=4;               //rotation angle will be 360/4 = 90 degrees
 				angle0="rad 0";
 				angle1="rad 360";
 			};
        };
    };

    class car15: Bmaster2M {};
    
};